html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 60px;
}

a {
    color: inherit;
}

.ss-split-view-left{
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}

.ss-center-content{
    width: 1024px;
    margin: auto;
}


@media (min-width: 768px) {
    .ss-split-view-right{
        width: 65%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top:60px;
        bottom: 0px;
    }
}


.ss-div-with-margin{
    margin-bottom: 5px;
    margin-top: 5px;
}

.ss-div-with-bottom-margin{
    margin-bottom: 5px;
}


.ss-padding-right-margin{
    padding-right: 30px;
}

.ss-space-maker{
    margin-top: 20px;
}

#draggablePanelList .panel-body{
    cursor: move;
    padding: 0px;
}

#draggablePanelList .panel{
    border: 0;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-right: 0px;
}

/*.panel .col-sm-1 {*/
    /*margin-right: 0px;*/
    /*padding-right: 20px;*/
/*}*/

#draggablePanelList .panel .col-sm-1 .pull-right {
    position: absolute;
    z-index: 1;
    right: 0px;
    background-color: white;
    /*margin-right: 0px;*/
    padding: 0px 15px 0px 5px;
    cursor: pointer;
}

