audio:hover, audio:focus, audio:active
{
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);

}

audio
{
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
}

/*.navbar {*/
    /*background-color: transparent;*/
    /*!*background: transparent;*!*/
    /*border-color: white;*/
    /*background: transparent;*/
    /*opacity: 1;*/
/*}*/

.navbar-fixed-top.scrolled {
    background:rgba(0,0,0,0.5);
    /*background-color: #fff  !important;*/
    transition: background-color 200ms linear ;
}

#nav
{
    bottom: 0px;
}

h3 {

    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}


#n1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: red;
}

body {
    /*background-color: #222222;*/
    background-color: black;
    margin-bottom: 60px;
}

#lettercolor {
    color: white;
}

#brandLogo{
    color: red ; font-family: Baskerville; font-size: 30px;
    font-weight: bold;
}


h4 {
    color: white;
}

.whitecolor{
    color: white;
}

.blackcolor{
    color: black;
}
h2 {
    color: white;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 97%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: lightgrey;
}

.footer_profile {
    position: relative;
    bottom: 0;
    width: 97%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.username-font{
    font-family: Cambria;
    font-size: medium;
    color: white;
}

.dropdown-font{
    font-family: Calibri;
    font-size: small;
    color: white;
}

.username{
    font-family: Calibri;
    font-size: 40px;
    color: #5cb85c;

}

.firstlastname{
    font-family: Arial;
    font-size: medium;
    color: #5cb85c;
    font-style: italic;
}

.anthem{
    font-family: Batang;
    font-size: 45px;
    color: white;
    font-weight: bold;
}

.ss-split-view-left{
    position: absolute;
    top: 90px;
    bottom: 0px;
    /*z-index: 1;*/
    overflow: auto;
}

.ss-center-content{
    width: 1024px;
    margin: auto;
}


@media (min-width: 768px) {
    .ss-split-view-right{
        width: 65%;
        position: absolute;
        right: 0px;
        overflow-y: auto;
        top:90px;
        bottom: 0px;
    }
}

.playlist{

    font-family: "Courier New";
    font-size: 30px;
    color: #c7254e;
}

.playlist_padding{
    padding-top: 30px;
}

.audio_width{
    width: 30px;
}

.top_padding_20{

    padding-top: 20px;
}

.top_padding_40{

    padding-top: 40px;
}

.ss-space-maker{
    margin-top: 20px;
}

.genre_color{
    color: #d9edf7;
}

.ashColor{
    color: darkslategrey;
}