
<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <h3>
            <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            Choose Widget
        </h3>
    </div>
</nav>

<div class="container-fluid">

    <div class="list-group">
        <a ng-click="model.createWidget('HEADING')"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Header</strong>
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a ng-click="model.createWidget('IMAGE')"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Image</strong>
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a ng-click="model.createWidget('YOUTUBE')"
           class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Youtube</strong>
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Label</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>HTML</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Text Input</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Link</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Button</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Data Table</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="row text-primary text-bold">
                <div class="col-sm-11" >
                    <div class="pull-left">
                        <strong>Repeater</strong>  
                    </div>
                </div>
                <div class="col-sm-1" >
                    <div class="pull-right hidden-xs">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </div>
                    <div class="pull-right visible-xs">
                        <span class="glyphicon glyphicon-chevron-right ss-padding-right-margin"></span>
                    </div>
                </div>
            </div>
        </a>
    </div>


</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" >
                <div class="pull-right">
                    <h3 class="text-right">
                        <a href="#!/profile/{{model.userId}}">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</nav>
