<!--<nav class="navbar navbar-fixed-top navbar-btn bg- " style="color: black;">-->
<nav class="navbar transparent navbar-fixed-top">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left col-sm-9" style="padding-left: 20px" href="#!">
                <h3>
                    <span id="brandLogo">Music Hub</span>

                </h3>
            </div>
            <div class="pull-left col-sm-1" style="padding-top: 30px">

                    <a href="#!/search">
                        <span class="glyphicon glyphicon-search whitecolor"></span>
                        <span class="whitecolor">Search</span>
                    </a>

            </div>
            <div ng-show="model.user.loggedStatus === 'true'" class="col-sm-2 pull-right" style="padding-top: 23px">

                    <div class="dropdown">
                        <span class="glyphicon glyphicon-user whitecolor" style="font-size: 20px"></span>
                            <span class="username-font" >{{model.user.username}}</span>

                            <span class="glyphicon glyphicon-menu-down whitecolor"></span>

                    <div class="dropdown-content blackcolor">
                        <a href="#!/profile/manage"><span class="dropdown-font"> Manage Profile</span> </a><br>
                        <br>
                        <a href="#"><span class="dropdown-font">SignOut</span></a>

                    </div>
                    </div>

            </div>
            <div ng-show="model.user.loggedStatus != 'true'" class="col-sm-2 pull-right" style="padding-top: 20px">
                <button class="btn btn-success " data-toggle="modal" data-target="#ModalLogin">
                    Login
                </button>
            </div>


        </div>
    </div>

</nav><br>
<br>
<br>
<script>
    $(document).ready(function () {
        $('#myCarousel').carousel({
            interval: 3000
        })

        $('#myCarousel').on('slid.bs.carousel', function () {
            //alert("slid");
        });

        $('#myCarousel1').carousel({
            interval: 4000
        })

        $('#myCarousel1').on('slid.bs.carousel', function () {
            //alert("slid");
        });

        $('#myCarousel2').carousel({
            interval: 3500
        })

        $('#myCarousel2').on('slid.bs.carousel', function () {
            //alert("slid");
        });

        $('#myPlaylist').carousel({
            interval: 3250
        })

        $('#myPlaylist').on('slid.bs.carousel', function () {
            //alert("slid");
        });

    });
</script>


<div class="container">
    <div class="col-md-12">
        <h4>Trending Songs</h4>

        <div class="well">
            <div id="myCarousel" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" data-target="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" data-target="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

<!--<div ng-show="model.user != undefined">-->
    <!--<div class="container">-->
        <!--<div class="col-md-12">-->
            <!--<h4>My Playlists</h4>-->

            <!--<div class="well">-->
                <!--<div id="myPlaylist" class="carousel slide">-->

                    <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
                    <!--<div class="carousel-inner">-->
                        <!--<div class="item active">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"-->
                                                                        <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"-->
                                                                        <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"-->
                                                                        <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"-->
                                                                        <!--class="img-responsive"></a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/row&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/item&ndash;&gt;-->
                        <!--<div class="item">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/row&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/item&ndash;&gt;-->
                        <!--<div class="item">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                                <!--<div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"-->
                                                                                          <!--alt="Image"-->
                                                                                          <!--class="img-responsive"></a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;/row&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;/item&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash;/carousel-inner&ndash;&gt;-->
                    <!--<a class="left carousel-control" data-target="#myPlaylist" data-slide="prev">‹</a>-->

                    <!--<a class="right carousel-control" data-target="#myPlaylist" data-slide="next">›</a>-->
                <!--</div>-->
                <!--&lt;!&ndash;/myCarousel&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash;/well&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="col-md-12">
        <h4>Favorite Songs</h4>

        <div class="well">
            <div id="myCarousel1" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" data-target="#myCarousel1" data-slide="prev">‹</a>

                <a class="right carousel-control" data-target="#myCarousel1" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>


<div class="container">
    <div class="col-md-12">
        <h4>Trending Playlists</h4>

        <div class="well">
            <div id="myCarousel2" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x"><img src="http://placehold.it/500x500" alt="Image"
                                                                    class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250"
                                                                                      alt="Image"
                                                                                      class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" data-target="#myCarousel2" data-slide="prev">‹</a>

                <a class="right carousel-control" data-target="#myCarousel2" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

<!-- Large modal -->
<!--<button class="btn btn-primary" data-toggle="modal" data-target="#ModalLogin">-->
<!--Login modal</button>-->
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <ng-include src="'views/loginandregister.html'"></ng-include>
</div>

<!--<footer>-->
<!--<p style="color: white">Created: @2017</p>-->
<!--<p style="color: white">Contact information: <a href="mailto:someone@example.com">-->
<!--someone@example.com</a>.</p>-->
<!--</footer>-->

<nav class="navbar navbar-inverse navbar-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h4 style="color: grey">
                        About: MusicHub.inc
                    </h4>
                    <p style="color: grey">
                        Contact: MusicHub@gmail.com
                    </p>
                </div>
                <div class="pull-right">
                    <h3 class="text-center">

                        <span class="glyphicon glyphicon-user" style="color: grey;">@2017</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</nav>

