<div class="container-fluid">
    <div class="row" ng-repeat="user in model.retrieved_user_list" >
        <div style="border: 1px solid greenyellow;">
            <div class="col-sm-3" ng-click="model.userDetails(user._id)">
                <h4>{{user.username}}</h4>
            </div>
            <div class="col-sm-3" ng-click="model.userDetails(user._id)">
                <h4>{{user.firstName}}</h4>
            </div>
            <div class="col-sm-3" ng-click="model.userDetails(user._id)">
                <h4>{{user.lastName}}</h4>
            </div>
            <div class="col-sm-3" ng-click="model.addFollow(user._id)">
                <h3 class="glyphicon glyphicon-thumbs-up"></h3>
            </div>
        </div>
    </div>
</div>