
    <div class="container">
        <div ng-controller="loginController">

            <div ng-show="welcomeUser" class ="alert alert-info">
                Welcome Back {{welcomeUser.username}}
            </div>

            <div ng-show="errorMessage" class ="alert alert-danger">
                {{errorMessage}}
            </div>

            <!--{{hello}}-->
            <form class="form-signin">
                <h2 class="form-signin-heading">Login</h2>
                <div class="row ss-div-with-margin">
                    <div class="col-sm-12">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input name="inputUsername"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               placeholder="Username"
                               ng-model="user.username"
                               required autofocus>
                    </div>
                </div>
                <div class="row ss-div-with-margin">
                    <div class="col-sm-12">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input name="inputPassword"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               placeholder="Password"
                               ng-model="user.password"
                               required>
                    </div>
                </div>
                <div class="row ss-div-with-margin">
                    <div class="col-sm-12">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary btn-block"
                           role="button"
                           ng-click="login(user)">
                            Login
                        </a>
                        <a class="btn btn-lg btn-success btn-block"
                           role="button" href="">Register</a>
                    </div>
                </div>
            </form>
            <!--{{username}}-->
        </div>
    </div> <!-- /container -->