<h1>Music App</h1>
<h2>Search By Artist Name</h2>
<input placeholder="Please Enter Artist Name"
       ng-model="movieTitle"
       class="form-control"/>
<button ng-click="model.searchMovieByTitle(movieTitle)" class="btn btn-primary btn-block">
    Search
</button>

<table class="table">
    <tr ng-repeat="movie in model.movies.results">
        <td>
            <a href="#!/details/{{movie.artistId}}">
                {{movie.artistName}}
            </a>
        </td>
        <td>
            <!--<img ng-src="{{movie.Poster}}"/>-->
            <a href={{movie.artistLinkUrl}}>{{movie.artistName}}'s Home Page</a>
        </td>
    </tr>
</table>