
<!-- Fixed navbar -->
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs" >
                <div class="pull-left">
                    <h3>
                        <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <span>Pages</span>
                    </h3>
                </div>
                <div class="pull-right">
                    <h3>
                        <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/new">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="col-sm-8" >
                <div class="pull-left hidden-xs">
                    <h3>
                        New Page
                    </h3>
                </div>
                <div class="pull-left visible-xs">
                    <h3 class="">
                        <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        New Page
                    </h3>
                </div>
                <div class="pull-right">
                    <h3>
                        <a ng-click="model.createPage(model.wid, model.page)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs ss-split-view-left" >
            <div class="list-group">
                <div ng-repeat="page in model.pages"
                     class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row text-primary text-bold">
                        <div class="col-sm-12" >
                            <div class="pull-left">
                                <strong>
                                    <a href="../../widget/widget-list.html">
                                        {{page.name}}
                                    </a>
                                </strong>
                            </div>
                            <div class="pull-right">
                                <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{page._id}}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of left panel -->
        <!-- Beginning of right panel -->
        <div class="col-sm-8 ss-split-view-right" >
            <div class="row">
                <div class="col-sm-12">
                    <label for="inputPageName">
                        Name
                    </label>
                    <input type="text"
                           id="inputPageName"
                           class="form-control"
                           placeholder="Page Name"
                           ng-model="model.page.name"
                           required autofocus>
                </div>
            </div>
            <div class="ss-space-maker"></div>
            <div class="row ss-div-with-margin">
                <div class="col-sm-12">
                    <label for="inputPageDescription">Description</label>
                    <textarea id="inputPageDescription"
                              class="form-control"
                              placeholder="Description"
                              ng-model="model.page.description"
                              rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" >
                <div class="pull-right">
                    <h3 class="text-right">
                        <a href="../../../profile.html">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</nav>
